.white-text h6{
    color: #fff !important;
}

.purple{
    color: purple !important;
}

.font{
    font-family: 'Raleway', sans-serif;
}
.pull-left{
    float: left !important;
}

.inline{
    display: inline !important;
}
.inline-block{
    display: inline-block !important;
}
.float-right{
    float: right;
}

pre{
    box-shadow: none !important;
}

.rotate-right{
    -ms-transform: rotate(12deg); /* IE 9 */
    -webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
    transform: rotate(12deg);
}

.rotate-left{
    -ms-transform: rotate(-23deg); /* IE 9 */
    -webkit-transform: rotate(-23deg); /* Chrome, Safari, Opera */
    transform: rotate(-23deg);
}
hr{
 border: 1px solid #eee;
}
iframe{
    margin-top: -100px;
    width: 150% !important;
    height: 580px;
    clip:rect(190px,1100px,800px,250px);
}

.icon{
    padding-right: 1em !important;
    min-width: 300px;
    margin-left: 2em !important;
    margin-bottom: -1em !important;
}

.github, .twitter, .slideshare{
    float: left !important;
    padding-right: 0.5em !important;
}
.twitter, .github, .slideshare{
    width: 32px;
}

.twicon a{
    top: .4em !important;
    float: left !important;
}
.gicon a{
    top: .5em !important;
    float: left !important;
}
.slicon a{
    top: .6em !important;
    float: left !important;
}

h6{
    font-size: .9em !important;
}
.javascript{
    background: none !important;
}

.click2call{
    opacity: 1;
    margin-top: 2em;
    padding: 1em;
    background-color: purple;
    border-radius: 6px;
    color: #fff;
    font-size: 1em;
    font-family: 'Raleway';
    cursor: pointer;
}
.click2call:hover{
    background-color: #852781;
    padding-right: 1.2em;
    padding-left: 1.2em;
    -webkit-animation-timing-function: ease-in-out 0.4;
}

.twitter-tweet body{
    padding-bottom: 0em !important;
    height: 100px !important;
}

.usecase-title{
    padding-right: 1em !important;
    min-width: 300px;
}

.usecase-title img{
    float: left !important;
    padding-right: 0.5em !important;
}

.usecase-title h2{
    float: left;
    padding-top: 0.5em;
}